@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,500&display=swap');

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.btn-flat{
  /* border: 1px solid black !important; */
  color: #0944b3;
}
.btn-flat:hover{
  /* border: 1px solid black !important; */
  color: #0944b3;
}
.btn-flat:focus{
  box-shadow: none !important;
  /* border: 1px solid blue !important; */
}
html,
body {
  height: 100%;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;

  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  /* background-color: #f5f5f5; */
}



.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input,
.form-label-group label {
  height: 3.125rem;
  padding: .75rem;
}

.form-label-group label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:-moz-placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:-ms-input-placeholder) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:-moz-placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

.form-label-group input:not(:-ms-input-placeholder) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .form-label-group label {
    position: static;
  }

  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

a:hover{
  text-decoration: none;
}
.text-icon {
  vertical-align: middle !important;
}
.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .form-signin {
    border: 1px solid #e3e3e3;
    max-width: 520px;
    padding: 50px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
  }
}

.btn-primary
{
  background-color: #0944b3 !important;
  border: none;
  box-shadow: none !important;
}
.btn-primary:hover
{
  background-color: #303d72 !important;
  border: none;
}
.btn-primary:focus{
  box-shadow: none !important;
}
.form-label-group input{
  /* border-bottom: 1px solid black !important; */
  border-top:none;
  border-left:none;
  border-right:none;
  box-shadow: none;
  border-radius: 4px;
    /* outline: blue auto 0px ; */
}
.form-label-group input:focus{
  border: 2px solid blue;
  border-radius: 4px;
  box-shadow: none;
    /* outline: blue auto 0px ; */
}
.is-invalid:focus{
  border: 2px solid red !important;
  border-radius: 4px;
  box-shadow: none !important;
}
.form-label-group .is-invalid input:focus{
  border: 2px solid red !important;
  border-radius: 4px;
  box-shadow: none !important;
}
.ou{
  text-align: center;
  overflow: hidden;
}
.ou:before, .ou:after {
  content: '';
  width: 3em;
  border-bottom: 1px black solid;
  display: inline-block;
  vertical-align: middle;
}
.or{
  width: 10%;
  font-weight: bold;
}
.line{
  height: 1px;
  width: 45%;
  background-color: #E0E0E0;
  margin-top: 10px;
}
.text-color
{
  color: #0944b3;
}

/* checkbox */

.custom-checkbox .custom-control-input{
  border: 1px solid red !important;
}

.btn-outline-primary
{
  color: #0944b3 !important;
  border-color: #0944b3 !important;
  box-shadow: none !important;
}
.btn-outline-primary:hover
{
  color: white !important;
  background-color: #0944b3 !important;
  border-color: #0944b3 !important;
  box-shadow: none !important;
}

.btn{
  box-shadow: none !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  /* color: red !important; */
  opacity: 0.5 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  /* color: red !important; */
  opacity: 0.5 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  /* color: red !important; */
  opacity: 0.5 !important;
}
.form-label-group label{
  /* color: red !important; */
  opacity: 0.5;
}
