/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,800;1,900&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,500&display=swap');

/* @import url('https://db.onlinewebfonts.com/c/961a181da27e7cbc072ec2fb5bbfe2a9?family=Circular+Std+Bold'); */

/* @import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

body{
  /* font-family: 'Nunito', sans-serif; */
  /* font-family: 'Baloo Da 2', cursive; */
  font-family: 'DM Sans', sans-serif !important;
  /* font-family: 'Spartan', sans-serif !important; */
  /* font-family: 'Circular Std Bold' !important; */
  /* letter-spacing: 1px !important; */
  font-weight: 400 !important;
  /* background-color: #f5f5f5; */
  /* background-color: #f6f6f6; */
  background-color: white !important;
}

.text-icon {
  vertical-align: middle !important;
}
@font-face {
    /* font-family: 'CircularStd-Bold' !important; */
    /* src: url('../fonts/circular/CircularStd-Bold.otf') format('otf'); */

}

h1, h2, h3{
  font-weight: 700;
}
p{
  /* font-family: 'Circular Std Bold' !important; */
}
.btn{
  /* border-radius: 20px !important; */
}

/* @-webkit-keyframes clignote{
  0%{box-shadow: 0px 0px 10px #4183C4 !important;}
  50%{box-shadow: 0px 0px 0px #4183C4 !important;}
  100%{box-shadow: 0px 0px 10px #4183C4 !important;}
}

.commander{
  -webkit-animation-name: clignote !important;
  -webkit-animation-duration: 1s !important;
  -webkit-animation-iteration-count: infinite !important;
} */
a{
  color: #0944b3;
}
.btn{
  /* border-radius: 7px !important; */
  /* border: none !important; */
}
.btn-primary
{
  border-radius: 7px !important;
  background-color: #0944b3 !important;
  /* background-color: #0b2a64 !important; */
  border: 1px solid #0944b3 !important;
  box-shadow: none !important;
}
.btn-primary:hover
{
  background-color: #303d72 !important;
  border: 1px solid #303d72 !important;
  box-shadow: none !important;
}
.btn-outline-primary
{
  color: #0944b3 !important;
  border-color: #0944b3 !important;
  box-shadow: none !important;
}
.btn-outline-primary:hover
{
  color: white !important;
  background-color: #0944b3 !important;
  border-color: #0944b3 !important;
  box-shadow: none !important;
}
.dropdown-menu
{
  border-radius: 10px !important;
}

a{
  text-decoration: none !important;
  /* color: #0b2a64 !important; */
}
a:hover {
  /* color: #0056b3; */
  /* text-decoration: underline; */
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
html {
  /* font-size: 14px; */
}
@media (min-width: 768px) {
  html {
    /* font-size: 16px; */
  }
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}
.menu
{
  /* background-image: linear-gradient(to right,white, rgb(255,150,150)); */
  height: 60px;
  /* background-image: linear-gradient(to right,white, #f5f5f5); */
  background-color: #ffffff !important;
  /* background-color: #f5f5f5; */
}

footer .text-muted:hover
{
  color: #0944b3 !important;
}
#site-title{
  color: black;
  font-weight: 700;
}

.text-color
{
  color: #0944b3;
}
.form-group input{
  /* border-bottom: 1px solid black !important; */
  /* border-top:none;
  border-left:none;
  border-right:none;
  box-shadow: none;
  border-radius: 0; */
    /* outline: blue auto 0px ; */
}
input:focus{
  border: 2px solid blue !important;
  border-radius: 4px !important;
  box-shadow: none !important;
  /* outline: blue auto 0px ; */
}
.is-invalid:focus{
  border: 2px solid red !important;
  border-radius: 4px !important;
  box-shadow: none !important;
}
textarea:focus{
  border: 2px solid blue !important;
  border-radius: 4px !important;
  box-shadow: none !important;
  /* outline: blue auto 0px ; */
}
.is-invalid textarea:focus{
  border: 2px solid red !important;
  border-radius: 4px !important;
  box-shadow: none !important;
}
.nav-account .active{
  border-left: 2px solid #0944b3 !important;
  color: #0944b3 !important;
}

.nav-account a{
  border-left: 2px solid #677987;
  color: #677987;
}

/* .form-group textarea:focus{
  border: 2px solid blue;
  border-radius: 4px;
  box-shadow: none;
}
.form-group .is-invalid textarea:focus{
  border: 2px solid red !important;
  border-radius: 4px;
  box-shadow: none !important;
} */

.btn-circle{
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin-top: 0;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

main{
  /* margin-top: 60px !important; */
}

main > .container {
  /* padding: 20px 15px 0; */
  /* margin-top: 100px !important; */
  /* padding-top: 60px; */
}

.footer {
  /* background-color: #f5f5f5; */
}

.footer > .container {
padding-right: 15px;
padding-left: 15px;
}
.footer li
{
  margin-bottom: 5px !important;
}

code {
  font-size: 80%;
}
/* menu mobile  */
.active_menu{
  color: #0944b3 !important;
  /* padding-bottom: 5px; */
  /* border-bottom: 3px solid #0944b3; */
  /* border-bottom: 2px solid #677987; */
  /* border-bottom: 2px solid red; */
}
.menu_mobile{
  /* padding-bottom: 5px; */
  /* border-bottom: 0.5px solid black; */
}
.menu_mobile li > a{
  color: #677987;
}

/* Menu animation */
.dropdown-menu {
  display: block;
  visibility: hidden;
  opacity:0;
  transform: translateY(-50px);
  transition:.2s ease all;
}
.dropdown-menu.show {
  display: block;
  visibility: visible;
  opacity:1;
  transform: translateY(0px);
  transition:.2s ease all;
}
/* menu button */
.dropdown-menu{
  width: 334px !important;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 8px;
  z-index: 991;
  position: absolute;
  /* right: 0px; */
  top: 62px;
  /* max-height: calc(100vh - 62px -100px); */
  line-height: normal;
  border-color: #0944b3;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

@media (max-width: 767.98px) {
  .dropdown-menu{
    /* width: 80% !important; */
  }
}

.dropdown-menu .btn-menu{
  border-radius: 20px; border: 2px solid black;
  padding: 7px;
}
.dropdown-menu .btn-logout{

}

.card{
  border-radius: 7px !important;
}
.breadcrumb{
  background-color: white !important;
  font-weight: bold !important;
}

/* ALERT STYLE */
.alert{
  text-align: center !important;
}
.alert-success{
  background-color: #c1f5ce !important;
  /* border: 1px solid black !important; */
  /* color: black !important; */
  /* font-weight: bold; */
}

.btn-flat{
  /* border: 1px solid black !important; */
  color: #0944b3;
}
.btn-flat:hover{
  /* border: 1px solid black !important; */
  color: #0944b3;
}
.btn-flat:focus{
  box-shadow: none !important;
  /* border: 1px solid blue !important; */
}
.btn-danger{
  box-shadow: none !important;
}






.card{
    border-radius: 6px;
    /* border: 2px solid #0b2a64; */
  }
  .card-header{
    border-radius: 6px 6px 0px 0px !important;
  }
  .card-link{
    color: green;
  }
  .head{
    height: 100% !important;
  }


  main{
    margin-top: 0px !important;
  }

  main > .container {
    padding: 20px 15px 0;
    /* margin-top: 100px !important; */
    /* padding-top: 60px; */
  }

  #hero {
    width: 100%;
    /* height: 95vh; */
    margin-top: 0px !important;
    /* background-image: url('{{ asset("public/assets/img/google/help-banner.svg") }}') ; */
    background-repeat: no-repeat;
    background-color: white;
    background-position: bottom;
    /* background: #37517e; */
  }

  #hero .container {
    /* padding-top: 72px; */
  }

  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
  }

  #hero h2 {
    /* color: rgba(255, 255, 255, 0.6); */
    margin-bottom: 50px;
    font-size: 24px;
  }

  #hero .btn-get-started {
    /* font-family: "Jost", sans-serif; */
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 4px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: #0944b3;
  }

  #hero .btn-get-started:hover {
    background: #303d72;
  }

  #hero .btn-watch-video {
    font-size: 16px;
    display: inline-block;
    padding: 10px 0 8px 40px;
    transition: 0.5s;
    margin: 10px 0 0 25px;
    color: black;
    position: relative;
  }

  #hero .btn-watch-video i {
    color: black;
    font-size: 32px;
    position: absolute;
    left: 0;
    top: 7px;
    transition: 0.3s;
  }

  #hero .btn-watch-video:hover i {
    color: #0944b3;
  }

  #hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }

  @media (max-width: 991px) {
    #hero {
      /* height: 100vh; */
      text-align: center;
    }
    #hero .animated {
      -webkit-animation: none;
      animation: none;
    }
    #hero .hero-img {
      text-align: center;
    }
    #hero .hero-img img {
      width: 50%;
    }
  }

  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
    #hero .hero-img img {
      width: 70%;
    }
  }

  @media (max-width: 575px) {
    #hero .hero-img img {
      width: 80%;
    }
    #hero .btn-get-started {
      font-size: 16px;
      padding: 10px 24px 11px 24px;
    }
    #hero .btn-watch-video {
      font-size: 16px;
      padding: 10px 0 8px 40px;
      margin-left: 20px;
    }
    #hero .btn-watch-video i {
      font-size: 32px;
      top: 7px;
    }
  }

  @-webkit-keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }


  /*--------------------------------------------------------------
  # About Us
  --------------------------------------------------------------*/
  .about .content h3 {
    font-weight: 600;
    font-size: 26px;
  }

  .about .content ul {
    list-style: none;
    padding: 0;
  }

  .about .content ul li {
    padding-left: 28px;
    position: relative;
  }

  .about .content ul li + li {
    margin-top: 10px;
  }

  .about .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #47b2e4;
    line-height: 1;
  }

  .about .content p:last-child {
    margin-bottom: 0;
  }

  .about .content .btn-learn-more {
    /* font-family: "Poppins", sans-serif; */
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.3s;
    line-height: 1;
    color: #47b2e4;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #47b2e4;
  }

  .about .content .btn-learn-more:hover {
    background: #47b2e4;
    color: #fff;
    text-decoration: none;
  }


  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
    overflow: hidden;
  }

  .section-bg {
    background-color: #f3f5fa;
  }

  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }

  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    /* color: #37517e; */
    color: #0944b3;
  }

  .section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }

  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    /* background: #47b2e4; */
    background: #0944b3;
    bottom: 0;
    left: calc(50% - 20px);
  }

  .section-title p {
    margin-bottom: 0;
  }
